<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-lower">Contact our Team</span>
        </h1>
    </header>
    <section class="page-section clearfix">
        <div class="container">

            <div class="row">

                <a href=https://www.google.com/search?q>
                    <div class="card card-2">
                        <h3>James (CEO)</h3>
                        <p>Chief Executive Officer</p>
                    </div>
                </a>
            </div>

        </div>
    </section>

    <section class="page-section clearfix">
        <div class="container">

            <div class="row">
                <a href=https://www.google.com/search?q>
                    <div class="card card-2">
                        <h3>Patrick (CFO)</h3>
                        <p>Chief Financial Officer</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="page-section clearfix">
        <div class="container">
            <a href=https://www.google.com/search?q>
                <div class="card card-2">
                    <h3>Aaron (CTO)</h3>
                    <p>Chief Technology Officer</p>
                </div>
            </a>
        </div>
    </section>

    <section class="page-section about-heading">
        <div class="container">
          
            
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Integrity</span>
                            </h2>
                            <p>
                                Inovation in lawn care has come a long way in the past years. New equipment, techniques,
                                style changes, and the work force contribute to the ever changing atmosphere of lawncare.
                                Without the current leadership we would be unable stay modernized and relevant.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </section>
</body>