@{
    ViewData["Title"] = "Home Page";
}

<body>
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block" style="text-align: right !important;">
        <span class="site-heading-upper text-primary mb-3" style="white-space: nowrap">Tree Trimmers | Mowers | Decorators | Gardeners | Landscapers</span>
        <span class="site-heading-lower">Clipper Greens Landscaping</span>
    </h1>
</header>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/img/lawn.jpg" alt="lush green lawn" 
                 style="margin-bottom: 15rem !important"/>
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Want to have the lawn to beat?</span>
                    <span class="section-heading-lower">call us and let's make it happen!!</span>
                </h2>
                <p class="mb-3">
                    We offer full lawn care services year round from summer mowing to spring feeding as well as
                    a host of landscaping and yard improvements like tree trimming, gardening and decorative
                    planting.
                </p>
                <br/>
                <p clas="mb-3">
                    Safe, efficient and affordable our team members strive to preserve the natural environment and use 
                    only safe non-hazardous treatments and fertilizers and dispose of all waste material in a ecologically
                    responsible manner from tree trimmings to grass clippings.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" asp-controller="JobList" asp-action="Index">Check out current job listings</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">You'll love it</span>
                        <span class="section-heading-lower">we guarantee it</span>
                    </h2>
                    <p class="mb-0">
                        Clipper Greens lawn care guarantees that you'll be thrilled with the quality of your lawn under our care and
                        we stand behind those words and we'll either make it right or your service for the month is free.  Our staff
                        are trained and certified in all aspects of their responsibilities and strictly adhere to all required safty
                        and hazardous material handling requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>